<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seata.seataorderservice.dao.IOrderMapper">

    <resultMap id="BaseResultMap" type="com.seata.seataorderservice.model.Order">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert">
        insert into order (user_id, product_id, count, money, status)
        values(#{param.userId}, #{param.productId}, #{param.count}, #{param.money}, 0)
    </insert>

    <update id="update">
        update order
        set status = 1
        where user_id = #{param.userId}
        and status = #{param.status}
    </update>
</mapper>